@import "variables";

@mixin ar-dialog() {
  background-color: $ar-dialog-background;
  border-radius: $ar-dialog-border-radius;
  box-shadow: $ar-dialog-box-shadow;
  display: flex;
  flex-direction: column;

  margin-top: $ar-dialog-marin-top;

  max-height: $ar-dialog-max-height;
  min-height: $ar-dialog-min-height;
  max-width: $ar-dialog-max-width;

  transition: $ar-dialog-transition;

  @each $size, $value in $ar-dialog-size {
    &-#{$size} {
      width: $value;
    }
  }

  &.ar-dialog--full-width {
    width: $ar-dialog-full-width;
    height: $ar-dialog-full-height;
    border-radius: 0;
    max-width: $ar-dialog-full-width;
    max-height: $ar-dialog-full-height;
    margin-top: 0;

    .ar-dialog-header, .ar-dialog-footer {
      border-radius: 0;
    }
  }
}

@mixin ar-dialog-header() {
  padding: $ar-dialog-header-padding;
  border-top-left-radius: $ar-dialog-border-radius;
  border-top-right-radius: $ar-dialog-border-radius;
}

@mixin ar-dialog-body() {
  padding: $ar-dialog-body-padding;
  flex-grow: 1;
}

@mixin ar-dialog-footer() {
  padding: $ar-dialog-footer-padding;
  border-bottom-left-radius: $ar-dialog-border-radius;
  border-bottom-right-radius: $ar-dialog-border-radius;
  margin-top: auto;
}
