@import "dialog.mixins";
@import "dialog-backdrop.mixins";

.ar-dialog {
  @include ar-dialog();
}

.ar-dialog-header {
  @include ar-dialog-header();
}

.ar-dialog-body {
  @include ar-dialog-body();
}

.ar-dialog-footer {
  @include ar-dialog-footer();
}

.ar-dialog-panel {
  @extend %ar-dialog-panel;
}

.ar-dialog-backdrop {
  @extend %ar-dialog-backdrop;
}
