
$ar-dialog-size: (
  'xxs': 20rem,
  'xs': 25rem,
  'sm': 30rem,
  'md': 50rem,
  'lg': 70rem,
  'xl': 80rem
) !default;

$ar-dialog-backdrop-background: rgba(#000, 0.3) !default;


$ar-dialog-background: #ffffff !default;
$ar-dialog-border-radius: .2rem !default;
$ar-dialog-box-shadow: 0 0 3px 1px rgba(54, 62, 70, 0.2) !default;

$ar-dialog-marin-top: 5vh !default;
$ar-dialog-max-height: 90vh !default;
$ar-dialog-min-height: 20rem !default;
$ar-dialog-max-width: 90vw !default;
$ar-dialog-transition: .3s !default;

$ar-dialog-full-width: 100vw !default;
$ar-dialog-full-height: 100vh !default;

$ar-dialog-header-padding: 0.4rem 0.5rem 0.2rem 0.5rem !default;
$ar-dialog-body-padding: 1rem 0.5rem !default;
$ar-dialog-footer-padding: 0.2rem 0.5rem 0.4rem 0.5rem !default;
