@import "variables";

%ar-icon {
  width: $ar-icon--size;
  height: $ar-icon--size;
  display: inline-block;
  vertical-align: baseline;

  @each $size, $value in $ar-icon-size-map {
    &.text-#{$size} {
      width: $value;
      height: $value;
    }
  }
}

%ar-icon--sprite {
  display: block;
  fill: currentColor;
  width: inherit;
  height: inherit;
}
