@import "variables";

%ar-icon-container {
  display: inline-block;
}

%ar-icon-container-content {
  display: flex;
  align-items: center;

  .ar-icon + * {
    margin-left: $ar-icon-inside-container--margin;
  }

  * + .ar-icon {
    margin-left: $ar-icon-inside-container--margin;
  }
}
