@import "icon.mixin";
@import "icon-container.mixin";

.ar-icon {
  @extend %ar-icon;

  &__sprite {
    @extend %ar-icon--sprite;
  }

}


.ar-icon-container {
  @extend %ar-icon-container;

  .ar-icon-container-content {
    @extend %ar-icon-container-content;
  }

}
