<div class="ar-date-picker-days-view__weeks" *ngIf="stateService.displayWeeks" [class.with-weekdays]="stateService.displayWeekdays">
  <ar-week-cell *ngIf="stateService.displayWeekdays"></ar-week-cell>
  <ar-week-cell *ngFor="let date of weeks" [date]="date" [interactive]="stateService.isWeekInteractive"></ar-week-cell>
</div>
<div class="ar-date-picker-days-view__date">
  <div class="ar-date-picker-days-view__weekdays" *ngIf="stateService.displayWeekdays">
    <ar-weekday-cell *ngFor="let date of weekdays" [date]="date" [interactive]="stateService.isWeekdayInteractive"></ar-weekday-cell>
  </div>
  <ng-container *cdkPortalOutlet></ng-container>
</div>
