@import "tooltip-source.mixins";
@import "tooltip-layout.mixins";
@import "tooltip.mixins";

.ar-tooltip-source {
  @extend %ar-tooltip-source;
}

.ar-tooltip-layout {
  @extend %ar-tooltip-layout;
}

.ar-tooltip {
  @include ar-tooltip();
}

