@import "variables";


%ar-tooltip-layout {
  padding: $ar-tooltip-layout--padding;
  border-radius: $ar-tooltip-layout--border-radius;
  background-color: $ar-tooltip-layout--background-color;
  box-shadow: $ar-tooltip-layout--box-shadow;
  overflow: hidden;
  text-overflow: ellipsis;
}
