
$ar-tooltip-source--cursor: help;


$ar-tooltip-layout--padding: 0.5rem 1rem !default;
$ar-tooltip-layout--border-radius: 0 !default;
$ar-tooltip-layout--background-color: rgba(#fff, 0.8) !default;
$ar-tooltip-layout--box-shadow: 0px 0.8rem 1rem rgba(54, 62, 70, 0.2) !default;


$ar-tooltip-size: (
  'xxs': 8rem,
  'xs': 16rem,
  'sm': 24rem,
  'md': 32rem,
  'lg': 48rem,
  'xl': 64rem
) !default;
