<ng-content></ng-content>
<section class="ar-date-picker__container" [ngSwitch]="stateService.viewMode" [@toggleDayView]="stateService.viewMode">
  <ng-container *ngSwitchCase="viewModes.day">
    <div *ngFor="let date of stateService.viewRange">
      <div *ngIf="stateService.displayMonthLabel" class="ar-date-picker__month-label">
        {{ dateFormatService.formatMonthYearFull(date) }}
      </div>
      <ar-date-picker-days-view class="ar-date-picker__view" [date]="date"></ar-date-picker-days-view>
    </div>
  </ng-container>

  <ar-date-picker-months-view
    *ngSwitchCase="viewModes.month"
    class="ar-date-picker__view"
    [date]="stateService.viewDate"
  ></ar-date-picker-months-view>

  <ng-container *ngSwitchCase="viewModes.year">
    <ar-date-picker-years-view class="ar-date-picker__view" [date]="stateService.viewDate"></ar-date-picker-years-view>
  </ng-container>
</section>

