<ar-select-option
  *ngFor="let item of options; trackBy: trackBy"
  [value]="item.value"
  [label]="item.label"
  [data]="item.data"
  [disabled]="item.disabled"
>
  <ng-container *ngTemplateOutlet="optionTemplate; context: item"></ng-container>
</ar-select-option>

<ng-template #defaultTemplate let-label="label">{{ label }}</ng-template>
