<div class="ar-date-picker-header__label" [class.clickable]="enableViewToggle" (click)="handleLabelClick()">{{ displayMonth }}</div>
<div class="ar-date-picker-header__controls">
  <ar-date-arrow-button [flip]="true" (click)="handlePrevMonth()"></ar-date-arrow-button>
  <ar-date-arrow-button (click)="handleNextMonth()"></ar-date-arrow-button>
</div>

