@import "variables";
@import "@argon/media/style/media.mixin";

@mixin ar-dropdown-backdrop() {

  @include media("<tablet") {
    background-color: $ar-dropdown-backdrop--mobile;
  }

  &--hidden {
    visibility: hidden;
    pointer-events: none;
  }
}

%ar-dropdown-pane {
  display: flex;
  flex-direction: column;
}
