@import "variables";

@mixin ar-dropdown-menu-item() {
  cursor: pointer;

  &--limited {
    max-width: $ar-dropdown-menu-item--limited--max-width;
  }

  &.selected {
    color: $ar-dropdown-menu-item--selected--color;
    background-color: $ar-dropdown-menu-item--selected--background-color;
  }

  &.active {
    color: $ar-dropdown-menu-item--active--color;
    background-color: $ar-dropdown-menu-item--active--background-color;
  }

  &.active.selected, &:hover.selected {
    color: $ar-dropdown-menu-item--selected--active--color;
    background-color: $ar-dropdown-menu-item--selected--active--background-color;
  }
}
