@import "variables";
@import "dropdown-layout.mixin";

@mixin ar-dropdown-menu-layout() {
  @include ar-dropdown-layout();
  padding: $ar-dropdown-menu-layout--padding;
  max-height: $ar-dropdown-menu-layout--max-height;
  min-height: $ar-dropdown-menu-layout--min-height;
}
