@import "variables";
@import "@argon/media/style/media.mixin";

@mixin ar-dropdown-layout() {
  padding: $ar-dropdown-container--padding;
  max-height: $ar-dropdown-container--max-height;
  width: $ar-dropdown-container--width;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: $ar-dropdown-container--min-width;
  background-color: $ar-dropdown-container--background-color;
  background-clip: padding-box;
  border: $ar-dropdown-container--border;
  border-radius: $ar-dropdown-container--border-radius;
  box-shadow: $ar-dropdown-container--box-shadow;

  @include media("<desktop") {
    max-width: $ar-dropdown-container--mobile--max-width;
    max-height: $ar-dropdown-container--mobile--max-height;
  }

  &:focus {
    outline: 0;
  }
}


