
//<ar-dropdown-container>
$ar-dropdown-container--padding: 1rem 0.7rem !default;
$ar-dropdown-container--max-height: 50rem !default;
$ar-dropdown-container--width: 100% !default;
$ar-dropdown-container--min-width: 20rem !default;
$ar-dropdown-container--background-color: #ffffff !default;
$ar-dropdown-container--border: 1px solid transparent !default;
$ar-dropdown-container--border-radius: 0 !default;
$ar-dropdown-container--box-shadow: 0px 8px 40px rgba(54, 62, 70, 0.2) !default;

$ar-dropdown-container--mobile--max-width: 90vw;
$ar-dropdown-container--mobile--max-height: 90vh;
//</ar-dropdown-container>

//<ar-dropdown-menu-layout>
$ar-dropdown-menu-layout--padding: 0 !default;
$ar-dropdown-menu-layout--max-height: 25rem !default;
$ar-dropdown-menu-layout--min-height: 5rem !default;
//</ar-dropdown-menu-layout>

//<ar-dropdown-menu-item>
$ar-dropdown-menu-item--limited--max-width: 20rem !default;
$ar-dropdown-menu-item--selected--color: #ffffff !default;
$ar-dropdown-menu-item--selected--background-color: #007bff !default;

$ar-dropdown-menu-item--active--color: #16181b !default;
$ar-dropdown-menu-item--active--background-color: #f8f9fa !default;

$ar-dropdown-menu-item--selected--active--color: #ffffff !default;
$ar-dropdown-menu-item--selected--active--background-color: darken(#007bff, 20%) !default;
//</ar-dropdown-menu-item>


//<mobile-backdrop>
$ar-dropdown-backdrop--mobile: rgba(0, 0, 0, 0.2);
//<mobile-backdrop>


