<ar-dropdown-focusable
  [disabled]="registry.state.disabled"
  (changeState)="registry.setIsOpened($event)"
  class="ar-select-multiple__dropdown"
  layoutType="argon-select"
  [autosize]="true"
>
  <ar-form-control
    class="ar-select-multiple__form-control"
    [focused]="registry.state.isOpened"
    [arBsSize]="arBsSize"
  >
    <div class="ar-select-multiple__content">
      <div class="ar-select-multiple__content-main">
        <ar-select-placeholder *ngIf="!registry.hasValue" class="ar-select-multiple__placeholder" arTextCut>{{ placeholder }}</ar-select-placeholder>
        <ar-select-badge class="ar-select-multiple__badge" [data]="item" *ngFor="let item of registry.activeDataItems; trackBy: trackBy"></ar-select-badge>
      </div>
      <div class="ar-select-multiple__content-secondary">
        <ar-select-handler class="ar-select-multiple__handler"></ar-select-handler>
      </div>
    </div>

    <ng-container *cdkPortal>
      <ng-content select="[before]"></ng-content>
      <ar-scroll-container class="ar-select-multiple__options" [xScroll]="false">
        <ng-content></ng-content>
      </ar-scroll-container>
      <ng-content select="[after]"></ng-content>
    </ng-container>
  </ar-form-control>
</ar-dropdown-focusable>

<ar-active-data-items [trackBy]="trackBy"></ar-active-data-items>
