<svg xmlns="http://www.w3.org/2000/svg" viewBox="2 2 20 20" class="ar-default-checkbox__content">
  <path *ngIf="isOn" d="M10 16.998l-5-5 1.413-1.414L10 14.17l7.586-7.586L19 7.998m0-5H5c-1.106 0-2 .895-2 2v14c0 1.105.894 2 2 2h14a2 2 0 002-2v-14a2 2 0 00-2-2z"></path>
  <path *ngIf="isOff" d="M19 2.998H5a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2v-14a2 2 0 00-2-2zm0 2v14L5 19V5h14z"></path>
  <path *ngIf="isIndeterminate" d="M19 3H5a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2V5a2 2 0 00-2-2zm0 16H5V5h14v14zm-2-2H7V7h10v10z"></path>
</svg>
