
<h4>[formControlName] binding</h4>
<div [formGroup]="form">
  <h5>Checkbox:</h5>
  <ar-checkbox formControlName="checkbox" [checked]="form.get('checkbox').value">
    <ar-checkbox-label>Checkbox</ar-checkbox-label>
  </ar-checkbox>
  <h5>Radio (with radio group):</h5>
  <ar-radio-group formControlName="radio">
    <ar-radio *ngFor="let radioValue of radioOptions" [value]="radioValue">
      <ar-checkbox-label>{{ radioValue }}</ar-checkbox-label>
    </ar-radio>
  </ar-radio-group>
  <h5>Radio:</h5>
  <ar-radio *ngFor="let radioValue of radioOptions" [value]="radioValue" formControlName="radio">
    <ar-checkbox-label>{{ radioValue }}</ar-checkbox-label>
  </ar-radio>
  <h5>Radio (from group 2):</h5>
  <div formGroupName="group2">
    <ar-radio *ngFor="let radioValue of radioOptions" [value]="radioValue" formControlName="radio">
      <ar-checkbox-label>{{ radioValue }}</ar-checkbox-label>
    </ar-radio>
  </div>
  <h5>List:</h5>
  <ar-bulk-checkbox formControlName="list" [value]="checkboxOptions" type="checkbox-indeterminate">
    <ar-checkbox-label>Bulk operation</ar-checkbox-label>
  </ar-bulk-checkbox>
  <ar-list-checkbox formControlName="list" *ngFor="let checkboxValue of checkboxOptions" [value]="checkboxValue">
    <ar-checkbox-label>{{checkboxValue}}</ar-checkbox-label>
  </ar-list-checkbox>
  <h5>List (from group 2):</h5>
  <div formGroupName="group2">
    <ar-bulk-checkbox formControlName="list" [value]="checkboxOptions" type="checkbox-indeterminate">
      <ar-checkbox-label>Bulk operation</ar-checkbox-label>
    </ar-bulk-checkbox>
    <ar-list-checkbox formControlName="list" *ngFor="let checkboxValue of checkboxOptions" [value]="checkboxValue">
      <ar-checkbox-label>{{checkboxValue}}</ar-checkbox-label>
    </ar-list-checkbox>
  </div>
  <ar-button (click)="createForm()" arBsContext="primary">Create new form instance</ar-button>
  <ar-button (click)="toggleDisabled()" arBsContext="primary">{{ form.disabled ? 'Enable' : 'Disable' }}</ar-button>
  <pre>{{ form.value | json }}</pre>
</div>

<hr>

<h4>[formControl] binding</h4>
<h5>Checkbox:</h5>
<ar-checkbox [formControl]="form.get('checkbox')" [checked]="form.get('checkbox').value">
  <ar-checkbox-label>Checkbox</ar-checkbox-label>
</ar-checkbox>
<h5>Radio (with radio group):</h5>
<ar-radio-group [formControl]="form.get('radio')">
  <ar-radio *ngFor="let radioValue of radioOptions" [value]="radioValue">
    <ar-checkbox-label>{{ radioValue }}</ar-checkbox-label>
  </ar-radio>
</ar-radio-group>
<h5>Radio:</h5>
<ar-radio *ngFor="let radioValue of radioOptions" [value]="radioValue" [formControl]="form.get('radio')">
  <ar-checkbox-label>{{ radioValue }}</ar-checkbox-label>
</ar-radio>
<h5>Radio (from group 2):</h5>
<ar-radio *ngFor="let radioValue of radioOptions" [value]="radioValue" [formControl]="form.get('group2.radio')">
  <ar-checkbox-label>{{ radioValue }}</ar-checkbox-label>
</ar-radio>
<h5>List:</h5>
<ar-bulk-checkbox [value]="checkboxOptions" type="checkbox-indeterminate" [formControl]="form.get('list')">
  <ar-checkbox-label>Bulk operation</ar-checkbox-label>
</ar-bulk-checkbox>
<ar-list-checkbox *ngFor="let checkboxValue of checkboxOptions" [value]="checkboxValue" [formControl]="form.get('list')">
  <ar-checkbox-label>{{checkboxValue}}</ar-checkbox-label>
</ar-list-checkbox>
<h5>List (from group 2):</h5>
<ar-bulk-checkbox [value]="checkboxOptions" type="checkbox-indeterminate" [formControl]="form.get('group2.list')">
  <ar-checkbox-label>Bulk operation</ar-checkbox-label>
</ar-bulk-checkbox>
<ar-list-checkbox *ngFor="let checkboxValue of checkboxOptions" [value]="checkboxValue" [formControl]="form.get('group2.list')">
  <ar-checkbox-label>{{checkboxValue}}</ar-checkbox-label>
</ar-list-checkbox>
<ar-button (click)="createForm()" arBsContext="primary">Create new form instance</ar-button>
<ar-button (click)="toggleDisabled()" arBsContext="primary">{{ form.disabled ? 'Enable' : 'Disable' }}</ar-button>
<pre>{{ form.value | json }}</pre>

<hr>

<h4>[(ngModel)] binding</h4>
<h5>Checkbox:</h5>
<ar-checkbox [(ngModel)]="checkbox">
  <ar-checkbox-label>Checkbox</ar-checkbox-label>
</ar-checkbox>
<pre>{{ checkbox | json }}</pre>

<h5>Radio (with radio group):</h5>
<ar-radio-group [(ngModel)]="radio">
  <ar-radio *ngFor="let radioValue of radioOptions" [value]="radioValue">
    <ar-checkbox-label>{{ radioValue }}</ar-checkbox-label>
  </ar-radio>
</ar-radio-group>
<h5>Radio:</h5>
<ar-radio *ngFor="let radioValue of radioOptions" [value]="radioValue" [(ngModel)]="radio">
  <ar-checkbox-label>{{ radioValue }}</ar-checkbox-label>
</ar-radio>
<pre>{{ radio | json }}</pre>

<h5>List:</h5>
<ar-bulk-checkbox [(ngModel)]="list" [value]="checkboxOptions" type="checkbox-indeterminate">
  <ar-checkbox-label>Bulk operation</ar-checkbox-label>
</ar-bulk-checkbox>
<ar-list-checkbox [(ngModel)]="list" *ngFor="let checkboxValue of checkboxOptions" [value]="checkboxValue">
  <ar-checkbox-label>{{checkboxValue}}</ar-checkbox-label>
</ar-list-checkbox>
<pre>{{ list | json }}</pre>

<hr>
