@import "../style/index";

.label-story-wrapper {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: 1rem;
    border: 1px solid #22A293;
    border-radius: 0.5rem;
    padding: 2rem;
  }
}

.data-story-control {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;

  & > div {
    margin-bottom: 1rem;
  }
}
