<ar-dropdown-focusable
  [disabled]="registry.state.disabled"
  (changeState)="registry.setIsOpened($event)"
  [autosize]="true"
  layoutType="argon-select"
  class="ar-autosuggest__dropdown"
>
  <ar-form-control
    class="ar-autosuggest__form-control"
    [focused]="registry.state.isOpened"
    [arBsSize]="arBsSize"
  >
    <div class="ar-autosuggest__content">
      <ar-select-placeholder *ngIf="hasPlaceholder" class="ar-autosuggest__placeholder" arTextCut>{{ placeholder }}</ar-select-placeholder>
      <ar-select-label *ngIf="hasLabel" class="ar-autosuggest__label"></ar-select-label>
      <ar-select-search *ngIf="hasSearch" [placeholder]="placeholder"></ar-select-search>
      <ar-select-clean *ngIf="hasRemove" class="ar-select-single__handler"></ar-select-clean>
    </div>
  </ar-form-control>

  <ng-container *cdkPortal>
    <ng-content select="[before]"></ng-content>
    <ar-scroll-container class="ar-autosuggest__options" [xScroll]="false">
      <ng-content></ng-content>
    </ar-scroll-container>
    <ng-content select="[after]"></ng-content>
  </ng-container>
</ar-dropdown-focusable>

<ar-active-data-items [trackBy]="trackBy"></ar-active-data-items>
