

$size: 3rem;
$margin: 1rem;

$shadow-size: $margin / 2;

@keyframes focus-animation {
  0% {
    box-shadow: 0 0 ($shadow-size * 1.2) darkorange;
  }
  50% {
    box-shadow: 0 0 ($shadow-size * 1.4) darkorange;
  }
  100% {
    box-shadow: 0 0 $shadow-size darkorange;
  }
}

.ar-radio {
  .story-custom-radio {
    display: inline-block;
    color: adjust-hue(orange, 5deg);
    margin: $margin;

    &.ar-radio-view--disabled {
      color: gray;
      pointer-events: none;
    }

    &.ar-radio--on {
      color: adjust-hue(orange, -5deg);
    }

    svg {
      transition: box-shadow 0.1s ease;
      width: $size;
      height: $size;
      border-radius: $size / 2;
      fill: currentColor;
    }
  }

  &:focus {
    .ar-radio-view:not(.ar-radio-view--disabled) svg {
      box-shadow: 0 0 ($shadow-size * 1.2) darkorange;
      animation: focus-animation 1s infinite ease;
    }
  }

  &:active {
    .ar-radio-view:not(.ar-radio-view--disabled) svg {
      color: darken(orange, 15%);
    }
  }

}




