@import "variables";

%ar-button {
  display: inline-block;
  white-space: pre;
  cursor: pointer;

  & + & {
    margin-left: $ar-button-inline--margin;
  }
}

%ar-button--disabled {
  pointer-events: none;
}

%ar-button--button-group {
  & + & {
    margin-left: 0;
  }
}
