@import "button.mixins";
@import "button-group.mixins";

.ar-button {
  @extend %ar-button;

  &.disabled {
    @extend %ar-button--disabled;
  }
}

.ar-button-group {
  .ar-button {
    @extend %ar-button--button-group;
  }
}
