@import "variables";

@keyframes ar-icon-spinner-animation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

%ar-icon-spinner {
  width: $icon-spinner-size;
  height: $icon-spinner-size;
  display: block;
  animation: ar-icon-spinner-animation 2s linear infinite;
}

%ar-icon-spinner__content {
  width: inherit;
  height: inherit;
  color: $icon-spinner-color;
  fill: currentColor;
}
