@import "icon-spinner.mixins";
@import "spinner-layout.mixins";
@import "spinner-backdrop.mixins";

.ar-icon-spinner {
  @extend %ar-icon-spinner;

  &__content {
    @extend %ar-icon-spinner__content;
  }
}

.ar-spinner-layout {
  @extend %ar-spinner-layout;

  &--active {
    @extend %ar-spinner-layout--active;
  }

}

.ar-spinner-backdrop {
  @extend %spinner-backdrop;
}
