@import "variables";

%ar-spinner-layout {
  display: inline-block;
  position: relative;

  .ar-spinner-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

%ar-spinner-layout--active {
  pointer-events: none;
}

