
.qlx-position-item {
  width: 30px;
  height: 30px;
  border: 1px solid lightsteelblue;
  margin: 2px;
  cursor: pointer;
}

.qlx-position-item-active {
  background-color: mediumslateblue;
}

.qlx-position-picker {
  display: flex;
  flex-wrap: wrap;
  width: 123px;
  margin: 0 auto;
  padding: 10px;
}
