

.ar-media-phone {
  %ar-media-toggle:not(.phone) {
    display: none;
  }
}

.ar-media-tablet {
  %ar-media-toggle:not(.tablet) {
    display: none;
  }
}

.ar-media-desktop {
  %ar-media-toggle:not(.desktop) {
    display: none;
  }
}

