@import "tags-input.mixins";
@import "tag-item.mixins";
@import "tag-close-icon.mixins";
@import "tags-set.mixins";
@import "tag-editor.mixins";

.ar-tag-close-icon {
  &__content {
    @extend %ar-tag-close-icon;
  }
}

.ar-tag-item {
  @include ar-tag-item();
}

.ar-tags-input {
  &__container {
    @include ar-tags-input();
  }
}

.ar-tags-set {
  @extend %ar-tags-set;
}

.ar-tag-editor-input {
  @include ar-tag-editor-input();
}

