@import "variables";

@mixin ar-tag-editor-input() {
  max-width: 100%;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  background-color: transparent;
  border: 0;

  &:active, &:focus {
    outline: 0;
  }
}
