@import "variables";

@mixin ar-tag-item {
  display: inline-flex;
  align-items: center;
  padding: $ar-tag-item--padding;
  margin: $ar-tag-item--margin;
  max-width: $ar-tag-item--width;
  transition: $ar-tag-item--transition;
  box-shadow: $ar-tag-item--box-shadow;
  background-color: $ar-tag-item--background-color;
  overflow: hidden;

  &:hover:not(&--disabled) {
    box-shadow: $ar-tag-item--box-shadow-hover;
  }

  &--active {
    background: $ar-tag-item-active--background-color;
    color: $ar-tag-item-active--color;
  }

  &--disabled {
    color: $ar-tag-item-disabled--color;
    box-shadow: $ar-tag-item-disabled--box-shadow;

    &:hover {
      cursor: $ar-tag-item-disabled--cursor;
    }
  }

  &__hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $ar-tag-item-icon--width;
    height: $ar-tag-item-icon--height;
    margin-left: $ar-tag-item-icon--margin-left;
    cursor: $ar-tag-item-icon--cursor;
  }
}
