@import "variables";

@mixin ar-tags-input() {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  min-height: $ar-tags-input--min-height;
  padding-top: $ar-tags-input-container--padding;
  padding-bottom: $ar-tags-input-container--padding;

  & > .ar-tag-editor:not(:focus:first-child) {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
  }

  &.ar-form-control--disabled {
    pointer-events: $ar-form-control-disabled--pointer-events;
  }
}
