$ar-tags-input--min-height: 2.375rem !default;
$ar-tags-input-container--padding: 0 !default;

$ar-form-control-disabled--pointer-events: none !default;

$ar-tag-item--width: calc(100% - 0.4rem) !default;
$ar-tag-item--margin: 0.2rem !default;
$ar-tag-item--padding: 0 0.2rem !default;
$ar-tag-item--transition: box-shadow 0.1s ease-in-out !default;
$ar-tag-item--box-shadow: 0 3px 1.5px rgba(54, 62, 70, 0.2) !default;
$ar-tag-item--box-shadow-hover: 0 2px 1px rgba(54, 62, 70, 0.2) !default;
$ar-tag-item--background-color: #fff !default;

$ar-tag-item-active--color: #ffffff !default;
$ar-tag-item-active--background-color: #007bff !default;
$ar-tag-item-disabled--color: #6c757d !default;
$ar-tag-item-disabled--box-shadow: 0 3px 1.5px rgba(54, 62, 70, 0.1) !default;
$ar-tag-item-disabled--cursor: default !default;

$ar-tag-item-icon--width: 1rem !default;
$ar-tag-item-icon--height: 1rem !default;
$ar-tag-item-icon--margin-left: 0.5rem !default;
$ar-tag-item-icon--cursor: pointer !default;
