@import "variables";

%ar-checkbox {
  display: inline-flex;
  align-items: center;

  &:focus {
    outline: none;
  }
}

%ar-checkbox {
  %ar-checkbox-label {
    margin-left: $checkbox-label-margin;
    margin-right: $checkbox-label-margin;
  }
}


%ar-checkbox-label {
  display: inline-flex;
  align-items: center;
  cursor: default;
}

%ar-checkbox-label--resize {

}

%ar-checkbox-label--disabled {
  pointer-events: none;
  color: $checkbox-label-disabled-color;
}

%ar-checkbox-label {
  %ar-checkbox {
    margin-left: $checkbox-label-margin;
    margin-right: $checkbox-label-margin;
  }
}
