@import "variables";

%ar-checkbox {

  &:focus {
    %ar-default-checkbox--focus {
      color: $checkbox-default-color--focus;
    }
  }

  &:active {
    %ar-default-checkbox--active {
      color: $checkbox-default-color--active;
    }
  }
}

%ar-checkbox-label--resize {
  %ar-checkbox-inside-label {
    width: $checkbox-default-size--inline;
    height: $checkbox-default-size--inline;
  }
}

@mixin ar-default-checkbox($disabled-name) {
  color: $checkbox-default-color;
  transition: $checkbox-default-transition;

  &__content {
    display: block;
    width: $checkbox-default-size;
    height: $checkbox-default-size;
    fill: currentColor;
    @extend %ar-checkbox-inside-label;
  }

  &#{$disabled-name} {
    color: $checkbox-default-color--disabled;
    pointer-events: none;
  }

  &:not(#{$disabled-name}) {
    @extend %ar-default-checkbox--focus;
    @extend %ar-default-checkbox--active;
  }
}
