@import "checkbox.mixins";
@import "checkbox-view.mixins";
@import "default-checkbox.mixins";
@import "radio-group.mixins";

.ar-checkbox {
  @extend %ar-checkbox;
}

.ar-radio {
  @extend %ar-checkbox;
}

.ar-checkbox-label {
  @extend %ar-checkbox-label;

  &--resize {
    @extend %ar-checkbox-label--resize;
  }

  &--disabled {
    @extend %ar-checkbox-label--disabled;
  }
}

.ar-checkbox-view {
  @include checkbox-view();
}

.ar-radio-view {
  @include checkbox-view();
}

.ar-radio-group {
  @include ar-radio-group();
}

.ar-default-checkbox {
  @include ar-default-checkbox($disabled-name: '.ar-checkbox-view--disabled');
}

.ar-default-radio {
  @include ar-default-checkbox($disabled-name: '.ar-radio-view--disabled');
}
