
$checkbox-label-margin: 0.2rem !default;
$checkbox-label-disabled-color: #6c757d !default;

$checkbox-default-size: 1rem !default;
$checkbox-default-size--inline: 1em !default;
$checkbox-default-color: #007bff !default;
$checkbox-default-color--active: lighten($checkbox-default-color, 10%) !default;
$checkbox-default-color--focus: darken($checkbox-default-color, 10%) !default;
$checkbox-default-color--disabled: #6c757d !default;
$checkbox-default-transition: color 0.25s ease !default;
