@import "variables";

@mixin ar-form-control() {
  width: 100%;
  border-color: $ar-form-control--border-color;

  $base-selector: #{&};

  &--disabled {
    border-color: $ar-form-control--border-color--disabled;
    background-color: $ar-form-control--background-color--disabled;
    opacity: $ar-form-control--opacity--disabled;
  }

  &--focused {
    border-color: $ar-form-control--border-color--focused;
  }

  &:not(&--disabled) {
    &:hover {
      border-color: $ar-form-control--border-color--hovered;
    }
  }

  &--valid {
    &:not(#{$base-selector}--disabled):not(#{$base-selector}--focused) {
      border-color: $ar-form-control--border-color--valid;
    }
  }

  &--invalid {
    &:not(#{$base-selector}--disabled):not(#{$base-selector}--focused) {
      border-color: $ar-form-control--border-color--invalid;
    }

  }

  &:focus {
    box-shadow: none;
    outline: 0;
    border-color: $ar-form-control--border-color--focused;
  }

}
