@import "variables";


@mixin ar-scrollbar() {
  &::-webkit-scrollbar-track {
    box-shadow: $ar-scrollbar__track--box-shadow;
    background-color: $ar-scrollbar--background;
    border-radius: $ar-scrollbar--border-radius;
  }

  &::-webkit-scrollbar {
    width: $ar-scrollbar--width;
    height: $ar-scrollbar--width;
    background-color: $ar-scrollbar--background;
    border-radius: $ar-scrollbar--width;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $ar-scrollbar--border-radius;
    background-color: $ar-scrollbar--background;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: $ar-scrollbar--color;
    }
  }
}
