$ar-scrollbar--color: #d1d4d6 !default;
$ar-scrollbar--background: rgba($ar-scrollbar--color, 0.4) !default;
$ar-scrollbar--width: 0.8rem !default;
$ar-scrollbar--border-radius: 1.6rem !default;
$ar-scrollbar__track--box-shadow: inset 0 0 0.3rem $ar-scrollbar--color !default;


$ar-form-control--border-color: #ced4da !default;
$ar-form-control--border-color--disabled: #ced4da !default;
$ar-form-control--border-color--focused: #007bff !default;
$ar-form-control--border-color--hovered: #007bff !default;
$ar-form-control--border-color--invalid: #dc3545 !default;
$ar-form-control--border-color--valid: #ced4da !default;

$ar-form-control--background-color--disabled: #e9ecef !default;
$ar-form-control--opacity--disabled: 1 !default;
