

@mixin ar-date-picker-header() {
  display: flex;
  position: relative;
  justify-content: center;

  &__label {
    cursor: default;
    pointer-events: none;

    &.clickable {
      cursor: pointer;
      pointer-events: all;
    }
  }

  &__controls {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
