@import "variables";

@mixin ar-date-picker() {
  display: block;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__inner-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__month-label {
    font-size: 0.8em;
    margin-left: 0.5rem;
  }

  &__view {
    width: $date-picker-view-width;
    height: $date-picker-view-height;
    padding: 0 $date-picker-view-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

