@import "variables";

@mixin ar-datepicker-cell() {
  position: relative;
  box-shadow: none;
  border-radius: $datepicker-cell-border-radius;
  cursor: default;
  transition: $datepicker-cell-transitions;
  visibility: hidden;
  margin: $datepicker-cell-margin;

  &.interactive {
    cursor: pointer;
  }

  &.visible {
    visibility: visible;
  }

  &.interactive:hover {
    box-shadow: $datepicker-cell-hover-box-shadow;
  }
}

@mixin ar-cell-base($width, $height) {
  display: inline-flex;
  width: $width;
  height: $height;
  justify-content: center;
  align-items: center;
}

@mixin ar-date-cell() {
  @include ar-cell-base($datepicker-cell-size, $datepicker-cell-size);
}

@mixin ar-weekday-cell() {
  @include ar-cell-base($datepicker-cell-size, $datepicker-cell-size);
  font-size: $weekday-cell-font-size;
}

@mixin ar-week-cell() {
  @include ar-cell-base($datepicker-cell-size, $datepicker-cell-size);
  font-size: $week-cell-font-size;
}

@mixin ar-month-cell() {
  @include ar-cell-base($month-cell-width, $month-cell-height);
}

@mixin ar-year-cell() {
  @include ar-cell-base($year-cell-width, $year-cell-height);
}
