@import "variables";

@mixin ar-date-grid() {
  display: inline-flex;
  width: $grid-width;
  flex-wrap: wrap;
}

@mixin ar-month-view() {

  &__mute {
    opacity: $datepicker-cell-mute-opacity;
  }

}

@mixin ar-date-picker-days-view() {
  display: flex;

  &__date {
    display: flex;
    flex-direction: column;
  }

  &__weeks {
    display: flex;
    flex-direction: column;
    margin-right: $date-picker-weeks-margin;

    &.with-weekdays {
      margin-top: $date-picker-weeks-margin;
    }
  }

  &__weekdays {
    border-bottom: $date-picker-weekdays-border;
    margin-bottom: $date-picker-weeks-margin;
  }
}

@mixin ar-date-picker-months-view() {
  padding: 0 $date-picker-view-padding;

  &__container {
    @include ar-date-grid();
    align-items: center;
    justify-content: space-around;
  }

}
