@import "variables";

@mixin ar-date-arrow-button() {

  display: inline-flex;
  width: $arrow-button-size;
  height: $arrow-button-size;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.flip {
    transform: rotate(180deg);
  }

  &.disabled {
    pointer-events: none;
    opacity: $arrow-button-disabled-opacity;
  }
}

@mixin ar-date-arrow-button-view() {
  display: inline-flex;
  width: $arrow-button-size / 2;
  height: $arrow-button-size / 2;

  svg {
    width: inherit;
    height: inherit;
  }
}
