@import "variables";

@mixin ar-datepicker-plugins() {
  &.ar-date-today:after {
    content: "";
    width: $datepicker-plugin-today--dot-size;
    height: $datepicker-plugin-today--dot-size;
    border-radius: 50%;
    position: absolute;
    left: $datepicker-plugin-today--dot-margin;
    top: $datepicker-plugin-today--dot-margin;
    background-color: currentColor;
  }

  &.ar-date-selected {
    background-color: $datepicker-plugin-primary-background;
    color: $datepicker-plugin-primary-color;
  }

  &.ar-date-selected-secondary {
    background-color: $datepicker-plugin-secondary-background;
    color: $datepicker-plugin-secondary-color;
  }

  &.ar-date-disabled {
    background-color: $datepicker-plugin-disabled-background;
    color: $datepicker-plugin-disabled-color;
    pointer-events: none;
  }

  &.ar-date-vacation {
    color: $datepicker-plugin-vacation-color;
  }
}
