
@function calculate-size($cell-size, $cell-count, $cell-margin) {
  @return $cell-size * $cell-count + $cell-margin * $cell-count * 2;
}

$date-picker-view-padding: 0.5rem !default;
$date-picker-weeks-margin: 0.5rem !default;
$date-picker-weekdays-border: 1px solid #6c757d !default;


$arrow-button-disabled-opacity: 0.5 !default;
$arrow-button-size: 2.5rem !default;

$datepicker-cell-transitions: box-shadow .2s, background-color .3s, color .3s !default;
$datepicker-cell-margin: 0.1rem !default;
$datepicker-cell-hover-box-shadow: 0 0 4px rgba(135, 144, 152, 0.64) !default;
$datepicker-cell-border-radius: 2px !default;
$datepicker-cell-mute-opacity: 0.6 !default;

$weekday-cell-font-size: 0.8em !default;

$week-cell-font-size: 0.8em !default;

$datepicker-cell-size: 2.5rem !default;

$date-picker-view-width: calculate-size($datepicker-cell-size, 8, $datepicker-cell-margin) + $date-picker-view-padding * 2 + $date-picker-weeks-margin !default;
$date-picker-view-height: calculate-size($datepicker-cell-size, 7, $datepicker-cell-margin) + $date-picker-weeks-margin !default;

$month-cell-width: (calculate-size($datepicker-cell-size, 8, $datepicker-cell-margin) + $date-picker-weeks-margin - 8 * $datepicker-cell-margin) / 4 !default;
$month-cell-height: ($date-picker-view-height - $date-picker-weeks-margin * 6) / 3 !default;

$year-cell-width: (calculate-size($datepicker-cell-size, 8, $datepicker-cell-margin) + $date-picker-weeks-margin - 10 * $datepicker-cell-margin) / 5 !default;
$year-cell-height: ($date-picker-view-height - $date-picker-weeks-margin * 10) / 5 !default;

$grid-width: calculate-size($datepicker-cell-size, 7, $datepicker-cell-margin) !default;
$grid-height: $datepicker-cell-size * 6 + $datepicker-cell-margin * 12 !default;

/// PLUGINS

$datepicker-plugin-today--dot-size: 0.4rem !default;
$datepicker-plugin-today--dot-margin: 0.3rem !default;

$datepicker-plugin-primary-background: rgba(#007bff, 0.7) !default;
$datepicker-plugin-primary-color: #ffffff !default;
$datepicker-plugin-secondary-background: rgba(#007bff, 0.4) !default;
$datepicker-plugin-secondary-color: #ffffff !default;
$datepicker-plugin-disabled-background: #d8e3ec !default;
$datepicker-plugin-disabled-color: #6c757d !default;
$datepicker-plugin-vacation-color: #C21F39 !default;
