@import "@argon/style-kit/style/scroll-container.mixins";

@import "table.mixins";
@import "table-header.mixins";
@import "table-body.mixins";
@import "table-footer.mixins";
@import "table-row.mixins";
@import "table-column.mixins";
@import "table-cell.mixins";

@import "plugins";

.ar-table {
  @include ar-table();
}

.ar-table-container {
  @include ar-table-container();

  &.ar-scroll-container {
    @include ar-scroll-container();
  }
}

.ar-table-header {

}

.ar-table-body {
  @include ar-table-body();
}

.ar-table-footer {
  @include ar-table-footer();
}

.ar-table-row {
  @include ar-table-row();
}

.ar-table-column {

}

.ar-table-cell {
  @include ar-table-cell();
}
