@import "plugin.order.mixins";
@import "plugin.resize.mixins";
@import "plugin.sort.mixins";

.ar-table-order {
  @include ar-table-order();
}

.ar-table-order-anchor {
  @extend %ar-table-order-anchor;
}

.ar-table-resize {
  @include ar-table-resize();
}

.ar-table-resize-handler {
  @include ar-table-resize-handler();
}

.ar-table-cell {
  @include dragging-cell();
}

.ar-table-row {
  @include drop-list();
}
