@import "variables";

@mixin ar-table-order() {
  cursor: $order-cursor;

  &--asc {

  }

  &--desc {

  }
}

%ar-table-order-anchor {
  display: inline-block;
  width: $order--anchor-size;
  height: $order--anchor-size;
  transition: $order--anchor-transition;
  vertical-align: $order--anchor-vertical-align;
  color: $order--anchor-color-inactive;
  margin: $order--anchor-margin;

  .ar-table-order-anchor__content {
    display: block;
    width: inherit;
    height: inherit;
    fill: currentColor;
  }

  &%ar-table-order-anchor.ar-table-order:hover {
    color: inherit;
  }

  &%ar-table-order-anchor.ar-table-order--asc {
    color: inherit;
    transform: $order--anchor-asc-transform;
  }

  &%ar-table-order-anchor.ar-table-order--desc {
    color: inherit;
    transform: $order--anchor-desc-transform;
  }

  .ar-table-order:hover & {
    color: inherit;
  }

  .ar-table-order--asc & {
    color: inherit;
    transform: $order--anchor-asc-transform;
  }

  .ar-table-order--desc & {
    color: inherit;
    transform: $order--anchor-desc-transform;
  }
}

