@import "variables";
@import "table-cell.mixins";

@mixin ar-table-resize() {
  z-index: 0;
  display: inline-flex;
  flex-direction: column;

  $base: #{&};

  &#{$base}--active {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: $resize--cursor;
    pointer-events: none;

    .ar-table-cell {
      transition: $resize--cell-transition;
    }
  }

  .ar-table-cell {
    &:last-child {
      .ar-table-resize-handler {
        transform: translateX(0%);
      }
    }
  }

  .ar-table-resize--active-cell {
    position: relative;
    @include interactive-cell();
  }
}

@mixin ar-table-resize-handler() {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: $resize--handler-width;
  background-color: transparent;
  cursor: $resize--cursor;
  transition: $resize--handler-active-transition;
}
