@import "variables";
@import "table-cell.mixins";

@mixin dragging-cell() {

  &.cdk-drag {
  }

  &.cdk-drag-placeholder {
    background-color: $column-sort--placeholder-background;
  }

  &.cdk-drag-preview {
    background-color: $column-sort--preview-background;
    border-color: transparent;
    box-shadow: $ar-table-cell-interactive--box-shadow;
  }

  &.cdk-drag:not(.cdk-drag-preview) {
    @include interactive-cell();
  }
}

@mixin drop-list() {
  &.cdk-drop-list-dragging {
    cursor: move;
  }
}
