@import "variables";

@mixin ar-table() {
  display: inline-flex;
  flex-direction: column;
  border: $ar-table-border;
  max-width: 100vw;

  &--scrollable {

  }
}

@mixin ar-table-container() {
  display: inline-flex !important;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;

  &--padding {
    padding-right: $ar-table-container-scroll-padding;
  }

  & + & {
    border-top: $ar-table-border;
  }
}
