@import "variables";

@mixin ar-table-cell() {
  padding: $ar-table-cell-padding;
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  scroll-snap-align: start;

  border-left: $ar-table-border;

}

@mixin interactive-cell() {
  transition: $ar-table-cell-interactive--transition;
  &:active {
    z-index: $ar-table-cell-interactive--z-index;
    box-shadow: $ar-table-cell-interactive--box-shadow;
  }
}
