@import "@argon/style-kit/style/variables";

$ar-table-border-color: #dee2e6 !default;
$ar-table-border-width: 1px !default;

$ar-table-border: $ar-table-border-width solid $ar-table-border-color !default;

$ar-table-cell-padding: 0.75rem !default;
$ar-table-cell-interactive--transition: 0.1s !default;
$ar-table-cell-interactive--z-index: 1 !default;
$ar-table-cell-interactive--box-shadow: 0px 8px 40px rgba(54, 62, 70, 0.2) !default;

$ar-table-container-scroll-padding: calc(#{$ar-scrollbar--width} - #{$ar-table-border-width}) !default;

// PLUGINS

// ORDER
$order-cursor: pointer !default;
$order--anchor-size: 0.75rem !default;
$order--anchor-transition: transform .1s ease !default;
$order--anchor-color-inactive: #dee2e6 !default;
$order--anchor-vertical-align: baseline !default;
$order--anchor-margin: 0 0.2rem !default;
$order--anchor-asc-transform: rotate(0deg) !default;
$order--anchor-desc-transform: rotate(180deg) !default;
// ORDER END

// RESIZE
$resize--cursor: col-resize !default;
$resize--cell-transition: all 50ms linear !default;
$resize--handler-width: 0.5rem !default;

$resize--handler-active-transition: border-color 0.1s ease !default;
// RESIZE END

// COLUMN SORT
$column-sort--placeholder-background: #dee2e6 !default;
$column-sort--preview-background: #ffffff !default;
// COLUMN SORT END
