@import "variables";

@mixin ar-select-clean() {
  width: $ar-select-handler-size;
  height: $ar-select-handler-size;
  display: inline-flex;
  transform: rotate(0);
  transition: $ar-select-handler-transition;

  &:hover {
    transform: rotate(90deg);
  }

  &__content {
    fill: currentColor;
    display: block;
  }

}
