@import "variables";

@mixin ar-select-handler() {
  width: $ar-select-handler-size;
  height: $ar-select-handler-size;
  display: inline-flex;
  transform: rotate(180deg);
  transition: $ar-select-handler-transition;

  @at-root &--active {
    transform: rotate(0);
  }

  &__content {
    fill: currentColor;
    display: block;
  }

}
