@import "placeholder.mixins";
@import "handler.mixins";
@import "clean.mixins";
@import "label.mixins";
@import "select-layout.mixins";
@import "select-option.mixins";
@import "select-option-group.mixins";
@import "search.mixins";
@import "icon.mixins";
@import "select-badge.mixins";
@import "select-control.mixins";

// Elements
.ar-select-placeholder {
  @include ar-select-placeholder();
}

.ar-select-handler {
  @include ar-select-handler();
}

.ar-select-clean {
  @include ar-select-clean();
}

.ar-select-layout {
  @extend %ar-select-layout;
}

.ar-select-option {
  @include ar-select-option();
}

.ar-select-option-group {
  @include ar-select-option-group();
}

.ar-select-search {
  @include ar-select-search();
}

.ar-select-icon {
  @include ar-select-icon();
}

.ar-select-badge {
  @include ar-select-badge();
}

.ar-select-label {
  @include ar-select-label();
}

// Controls
.ar-select-single {
  @include ar-select-control();
}

.ar-select-multiple {
  @include ar-select-control();
  @include form-control-resizeable();
}

.ar-autosuggest {
  @include ar-select-control();
  @include reset-search-input();
}
