@import "variables";

@mixin ar-select-search() {

  display: flex;
  padding: $ar-select-search--padding;
  align-items: center;
  overflow-x: hidden;
  width: 100%;

  &__input {
    border: none;
    border-bottom: $ar-select-search--border;
    width: $ar-select-search--input-width;
    padding: $ar-select-search--input-padding;

    &:focus, &:active {
      outline: 0;
    }
  }

  &__close {
    width: $ar-select-search--icon-size;
    height: $ar-select-search--icon-size;
    transition: $ar-select-search--icon-transition;
    opacity: $ar-select-search--icon-opacity;
  }

  &__icon {
    cursor: $ar-select-search--icon-cursor;
    display: flex;
  }

  &--active &__close {
    opacity: $ar-select-search--icon-opacity-active;
  }

}
