@import "variables";

%ar-select-content {
  width: inherit;
  display: inline-flex;
  align-items: center;
}

%ar-select-form-control {
  padding-right: $ar-select-control--form-control-padding-right;
}

%ar-select-content--main {
  flex: $ar-select-control--content-main-flex;
}

%ar-select-content--secondary {
  margin-left: $ar-select-control--content-secondary-margin-left;
  flex-shrink: $ar-select-control--content-secondary-flex-shrink;
}

@mixin ar-select-control {
  display: inline-block;
  width: $ar-select-control--width;

  &--disabled {
    pointer-events: none;
  }

  &__dropdown {
    width: inherit;
    outline: 0;
  }

  &__form-control {
    @extend %ar-select-form-control;
  }

  &__content {
    @extend %ar-select-content;

    & > * {
      margin-right: $ar-select-control--content-inner-margin-right;
    }
  }

  &__label {
    @extend %ar-select-content--main;
  }

  &__placeholder {
    @extend %ar-select-content--main;
  }

  &__handler {
    @extend %ar-select-content--secondary;
  }

  &__content-main {
    @extend %ar-select-content--main;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__content-secondary {
    @extend %ar-select-content--secondary;
    display: flex;
    align-items: center;
  }

  &__badge {
    margin: $ar-select-control--badge-margin;
  }

  &__options {
    flex-shrink: $ar-select-control--options-container-flex-shrink;
  }

}

@mixin form-control-resizeable() {
  &__form-control {
    height: initial;
  }
}

@mixin reset-search-input() {
  .ar-select-search {
    padding: 0;
    &__input {
      border: none;
      padding: 0;
    }
  }
}
