@import "variables";

@mixin ar-select-option-group() {
  display: block;
  padding: $ar-select-option-group--padding;

  &--bordered {
    border-bottom: $ar-select-option-group--border;
  }

  &--hidden {
    display: none;
  }

}
