@import "variables";

@mixin ar-select-badge() {

  background-color: $ar-select-badge--background-color;
  box-shadow: $ar-select-badge--box-shadow;
  padding: $ar-select-badge--padding;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  transition: $ar-select-badge--transition;
  overflow: hidden;

  &:hover {
    box-shadow: $ar-select-badge--box-shadow-active;
  }

  &--disabled {
    pointer-events: none;
  }

  &__icon {
    margin-left: $ar-select-badge--icon-size;
    width: $ar-select-badge--icon-size;
    height: $ar-select-badge--icon-margin-left;
    flex-shrink: $ar-select-badge--icon-flex-shrink;
  }

  &__text {
    display: block;
  }
}
