@import "variables";
@import "@argon/media/style/media.mixin";

%ar-select-layout {
  margin: $ar-select-layout--margin;
  max-height: $ar-select-layout--max-height;
  min-width: $ar-select-layout--min-width;
  min-height: $ar-select-layout--min-height;
  width: $ar-select-layout--width;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: $ar-select-layout--background-color;
  background-clip: padding-box;
  box-shadow: $ar-select-layout--box-shadow;
  display: flex;
  flex-direction: column;

  &:focus {
    outline: 0;
  }

  @include media("<tablet") {
    margin: $ar-select-layout--margin--mobile;
    max-width: $ar-select-layout--mobile--max-width;
    max-height: $ar-select-layout--mobile--max-height;
  }

  & > * {
    flex-shrink: 0;
  }
}



