@import "variables";

@mixin ar-select-option() {
  display: block;
  padding: $ar-select-option--padding;
  cursor: $ar-select-option--cursor;
  font-size: $ar-select-option--font-size;

  &--active:not(&--disabled), &:active:not(&--disabled) {
    background-color: $ar-select-option--background-color-active;
    color: $ar-select-option--color-active;
  }

  &--selected {
    background-color: $ar-select-option--background-color-selected;
    color: $ar-select-option--color-selected;
  }

  &--disabled {
    color: $ar-select-option--color-disabled;
    pointer-events: none;
  }

}
