
// select placeholder
$ar-select-placeholder-color: #6c757d !default;

// select handler
$ar-select-handler-size: 1rem !default;
$ar-select-handler-transition: transform 0.25s ease !default;

// select-layout
$ar-select-layout--max-height: 50rem !default;
$ar-select-layout--min-height: 20rem !default;
$ar-select-layout--width: 100% !default;
$ar-select-layout--min-width: 20rem !default;

$ar-select-layout--margin: 0 !default;
$ar-select-layout--margin--mobile: 0 !default;

$ar-select-layout--background-color: #ffffff !default;
$ar-select-layout--box-shadow: 0px 8px 40px rgba(54, 62, 70, 0.2) !default;

$ar-select-layout--mobile--max-width: 90vw !default;
$ar-select-layout--mobile--max-height: 90vh !default;

// select option
$ar-select-option--font-size: 0.85rem !default;
$ar-select-option--background-color-active: #007bff !default;
$ar-select-option--color-active: #ffffff !default;

$ar-select-option--background-color-selected: #007bff !default;
$ar-select-option--color-selected: #ffffff !default;

$ar-select-option--color-disabled: #6c757d !default;

$ar-select-option--padding: 0.3rem 0.6rem !default;
$ar-select-option--cursor: default !default;

// select options group
$ar-select-option-group--border: 1px solid #ced4da !default;
$ar-select-option-group--padding: 0.3rem 0 !default;

// select search field
$ar-select-search--padding: 0.3rem !default;
$ar-select-search--border: 1px solid #7f7f7f !default;
$ar-select-search--input-padding: 0 0.3rem !default;
$ar-select-search--input-width: 100% !default;
$ar-select-search--icon-size: 1rem !default;
$ar-select-search--icon-transition: opacity 0.5s ease !default;
$ar-select-search--icon-opacity: 0 !default;
$ar-select-search--icon-opacity-active: 1 !default;
$ar-select-search--icon-cursor: pointer !default;

// select badge
$ar-select-badge--box-shadow: 0 3px 1.5px rgba(54, 62, 70, 0.2) !default;
$ar-select-badge--box-shadow-active: 0 4px 2px rgba(54, 62, 70, 0.2) !default;
$ar-select-badge--background-color: #fff !default;
$ar-select-badge--padding: 0.2rem 0.2rem 0.1rem 0.2rem !default;
$ar-select-badge--transition: box-shadow 0.2s ease !default;
$ar-select-badge--icon-margin-left: 1rem !default;
$ar-select-badge--icon-flex-shrink: 0 !default;
$ar-select-badge--icon-size: 1rem !default;


// select controls
$ar-select-control--form-control-padding-right: 0 !default;
$ar-select-control--content-main-flex: 0 100% !default;
$ar-select-control--content-secondary-flex-shrink: 0 !default;
$ar-select-control--content-secondary-margin-left: auto !default;

$ar-select-control--width: 100% !default;
$ar-select-control--content-inner-margin-right: 0.5rem !default;
$ar-select-control--badge-margin: 0.2rem !default;
$ar-select-control--options-container-flex-shrink: 1 !default;
