<ar-dropdown-focusable
  [disabled]="registry.state.disabled"
  (changeState)="registry.setIsOpened($event)"
  [autosize]="true"
  layoutType="argon-select"
  class="ar-select-single__dropdown"
>
  <ar-form-control
    class="ar-select-single__form-control"
    [focused]="registry.state.isOpened"
    [arBsSize]="arBsSize"
  >
    <div class="ar-select-single__content">
      <ar-select-placeholder *ngIf="!registry.hasValue" class="ar-select-single__placeholder" arTextCut>{{ placeholder }}</ar-select-placeholder>
      <ar-select-label *ngIf="registry.hasValue" class="ar-select-single__label"></ar-select-label>
      <ar-select-clean *ngIf="registry.hasValue && !registry.state.disabled" class="ar-select-single__handler"></ar-select-clean>
      <ar-select-handler class="ar-select-single__handler"></ar-select-handler>
    </div>
  </ar-form-control>

  <ng-container *cdkPortal>
    <ng-content select="[before]"></ng-content>
    <ar-scroll-container class="ar-select-single__options" [xScroll]="false">
      <ng-content></ng-content>
    </ar-scroll-container>
    <ng-content select="[after]"></ng-content>
  </ng-container>
</ar-dropdown-focusable>

<ar-active-data-items [trackBy]="trackBy"></ar-active-data-items>
